/******************************
* Animations
******************************/
// Used for buttons
@keyframes bgcolour-flip {
    20%     { background-color: darkgreen; }
    40%     { background-color: darkgoldenrod; }
    60%     { background-color: darkblue; }
    80%     { background-color: darkslateblue; }
    100%    { background-color: darkmagenta; }
}
