/******************************
* Main content wrapper
******************************/
.main-content {
    margin: 10px;
    max-width: 951px;
    position: relative;

    @include breakpoint(1024px, 'from') {
        margin: 0 auto;
    }
}

/******************************
* Main content blocks (article)
******************************/
.section {
    cursor: url(../images/rsz_cursor-cool.png) 70 60, pointer;

    &:nth-child(even) {
        margin: -15px 0 -13px 12px;
        position: relative;
        width: 100%;
        z-index: 3824798234234;

        @include breakpoint(1024px, 'from') {
            margin: -28px 0 -28px 32px;
        }
    }

    &__header {
        margin: 0 auto;
        max-height: 400px;
        max-width: 900px;
        overflow: hidden;
    }

    &__content {
        background-color: $color-white;
        padding: 39px 49px 83px 49px;
        position: relative;
        transition: all 0.25s;
        z-index: 123;

        .section:nth-child(even) & {
            background-color: #fff5e1;
            color: $color-black;

            .ie & {
                background-color: $color-white;
                color: darkgray;
            }
        }

        &:hover {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
        }

        @include breakpoint(1024px, 'to') {
            padding: 29px;
        }

        .is-bottom & {
            display: none;

            @include breakpoint(1025px, 'from') {
                background-color: #9e6a02;
                cursor: url(../images/rsz_trophy.png) 4 12, pointer;
                display: block;
            }

            .ie & {
                background-color: darkgray;
            }
        }

        &.has-related-things {
            display: flex;
        }
    }

    &__text {
        width: 100%;

        .has-related-things & {
            max-width: 100%;
            width: 100%;

            @include breakpoint(1025px, 'from') {
                max-width: 550px;
            }
        }
    }

    &__related-things {
        display: none;

        @include breakpoint(1025px, 'from') {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-end;
            position: relative;
            right: -72px;
            text-align: right;
            width: 300px;
        }
    }
}

.text {
    &--big-devices {
        display: none;

        @include breakpoint(1024px, 'from') {
            display: block;
        }
    }

    &--extra-strong {
        background-color: $color-highlighted;
        color: $color-white;
        padding: 3px 5px;

        .ie & {
            background-color: darkgray;
        }
    }

    &--highlighted {
        color: $color-highlighted;

        .ie & {
            color: darkgray;
        }
    }
}
