/******************************
* Small `loose` elements
******************************/
// This is the first visit overlay
.overlay {
    background-color: $color-blue;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9839043434;

    .ie & {
        color: darkgray;
    }
}

// Floor stuff (can be found on the upper right side of each floor)
.floor {
    &-label {
        cursor: help;
        margin: 0 0 10px;

        .ie & {
            background-color: darkgray;
        }

        @include breakpoint(1023px, 'to') {
            right: 10px;
            top: 10px;
        }

        @include breakpoint(480px, 'to') {
            display: none;
        }
    }

    &-name {
        display: inline-block;
        background: blue;
        color: #fff;
        padding: 3px 10px;

        @include breakpoint(1023px, 'to') {
            font-size: 14px;
        }

        &:hover {
            animation: keep-rotating 1s infinite;
        }
    }
}

// Side gif container, which is triggered by JS hover (can be found on the right side of containers)
.side-gif {
    background-image: url(../images/coding.gif);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 55%;
    width: 100%;
}

// Related links list (contains buttons)
.related-links__list {
    @include clearList;
}

// Project item (inside portfolio)
.project-item {
    padding: 5px 0;

    &__title {
        border: 1px solid darkblue;
        background: #7db9e8; /* Old browsers */
        background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #034999 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#034999 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#034999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: $color-white;

        &:before {
            content: "→";
            padding-right: 10px;
        }
    }
}
