<!-- Big Shaq -->
<audio id="sound-skrrra" hidden preload>
    <source src="sounds/skrrra.mp3" type="audio/mpeg">
</audio>

<audio id="sound-papakakaka" hidden preload>
    <source src="sounds/papakakaka.mp3" type="audio/mpeg">
</audio>

<audio id="sound-skibiki" hidden preload>
    <source src="sounds/skibiki.mp3" type="audio/mpeg">
</audio>

<audio id="sound-andapoopoo" hidden preload>
    <source src="sounds/andapoopoo.mp3" type="audio/mpeg">
</audio>

<!-- Misc -->
<audio id="sound-rocky" hidden preload>
    <source src="sounds/rocky.mp3" type="audio/mpeg">
</audio>
