/******************************
* Reset / default styles
******************************/
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: $color-page-bg;
    font-family: $font-family-default;
    font-size: $font-size-small;
    height: 100%;
    line-height: $line-height-default;
    margin: 0;

    &.ie {
        background: #d8d8d8;
        color: darkgray;
    }

    @include breakpoint(1024px, 'from') {
        font-size: $font-size-default;
    }
}

img {
    cursor: url(../images/rsz_cursor-eyes.png) 4 12, pointer;
    height: auto;
    max-width: 100%;
}
