/******************************
* Typography
******************************/
h1, h2, h3, p, ul {
    transition: all .25s;
}

h1, h2, h3 {
    &:hover {
        cursor: default;
    }
}

h1 {
    font-size: 20px;
    color: $color-blue;
    display: inline-block;
    margin: 0 0 10px -10px;
    line-height: 32px;
    position: relative;

    @include breakpoint(1024px, 'from') {
        margin: 0 0 30px -10px;
    }

    .ie & {
        color: darkgray;
    }
}

h2 {
    font-size: 18px;
    margin: 20px 0 5px 0;
    padding-bottom: 1px;
}

p {
    margin: 0 0 20px;
    transition: all 0.25s;

    &.text--small {
        font-size: 12px;
    }
}
