/******************************
* Variables
******************************/
// Colours
$color-page-bg:         #e3e3e3 !default;
$color-white:           #fff !default;
$color-black:           #000 !default;
$color-red:             #f00 !default;
$bgcolor-sound-btn:     #73ffdc !default;
$color-sound-hover:     #ffa573 !default;
$color-blue:            blue !default;
$color-highlighted:     #C30000 !default;

// Fonts
$font-size-h1:          22px !default;
$font-size-small:       13px !default;
$font-size-default:     15px !default;
$line-height-default:   23px !default;
$font-family-default:   Arial, sans-serif !default;
