<section class="section section--game">
    <div class="section__content has-related-things">
        <div class="section__text">
            <h1>let's play</h1>

            <p>
                Use <strong class="text--extra-strong">WASD</strong> or <strong class="text--extra-strong">ARROW KEYS</strong>.
            </p>

            <p>
                Highest score is <strong>80.000</strong>. Good luck!
            </p>
        </div>

        <aside class="section__related-things">
            <div class="game"></div>
        </aside>
    </div>
</section>
