<!-- FILLER -->
<article id="filler5" class="article is-filler">
    <div class="article__main has-related-things">
        <div class="article__text">
            <h1>let's play</h1>
            <p>Use <strong class="text--extra-strong">WASD</strong> or <strong class="text--extra-strong">ARROW KEYS</strong>. </p>
            <p><em>For God's sake, do not use your mouse. :(</em></p>
            <p>Highest score is <strong>80.000</strong>. Good luck!</p>
        </div>
        <aside class="article__related-things">
            <div class="game"></div>
        </aside>
    </div>
</article>
