<section class="section section--contact" aria-label="Contact information">
    <div class="section__content">
        <div class="section__text">
            <h1>call me on my cell phone <a href="https://youtu.be/iW2pb1sF5EE?t=1">&#9836;</a></h1>

            <p>
                I'm always in for a chat! <br/>
            </p>

            <ul>
                <li>
                    Do you know an awesome (latest) technology which we should definitely use?
                </li>
                <li>
                    Want to discuss how/why/when Design Systems will take over our "standard" approach?
                </li>
                <li>
                    Is Server Side Rendering a "must"?
                </li>
                <li>
                    Or whatever your question is...
                </li>
            </ul>

            <p>
                Contact me on <a href="https://www.linkedin.com/in/bilal10hussain/" target="_blank" rel="noopener noreferrer">LinkedIn</a>.
            </p>

            <p>
                I'd love to hear from you <br/>
                &mdash;	Bilal &#128526;
            </p>
        </div>
    </div>
</section>
