<!-- FLOOR 4: CONTACT -->
<article id="floor4" class="article is-floor is-even">
    <div class="article__main">
        <div class="article__text">
            <h1>call me on my cell phone <a href="https://youtu.be/iW2pb1sF5EE?t=1">&#9836;</a></h1>
            <p>Contact me on <a href="https://www.linkedin.com/in/bilal10hussain/">LinkedIn</a> for my mobile number so we can WhatsApp.</p>
            <p>
                Bye, <br/>
                Bilal
            </p>
        </div>
    </div>
</article>
