<section class="section" aria-label="Webpage introduction">
    <header class="section__header">
        <img alt="Bunkers del Carmel, Barcelona" class="img__bunkers" src="images/bunkersdelcarmel.jpg" />
    </header>

    <div class="section__content has-header">
        <div class="section__text">
            <h1>hello <a href="https://www.youtube.com/watch?v=YQHsXMglC9A&feature=youtu.be&t=141">&#9836;</a>,</h1>

            <p>
                My name is Bilal.
            </p>

            <p>
                I like to make websites (front-end though) and web apps, and I also have a passion (seeing, developing) accessible, user-centred and creative websites. And food.
            </p>

            <p class="text--big-devices">
                <strong class="text--highlighted">BIG TIP from David:</strong>
                <br/>
                This website uses sounds and gifs, so <strong>turn up the volume</strong> and <strong>keep moving your mouse</strong> to discover things.
            </p>
        </div>
    </div>
</section>
