<!-- FLOOR 1: INTRO -->
<article id="floor1" class="article js-is-first-floor is-floor">
    <header class="article__header">
        <img alt="Bunkers del Carmel, Barcelona" class="img__bunkers" src="images/bunkersdelcarmel.jpg" />
    </header>

    <div class="article__main has-header">
        <div class="article__text">
            <h1>hello <a href="https://www.youtube.com/watch?v=YQHsXMglC9A&feature=youtu.be&t=141">&#9836;</a>,</h1>

            <p>My name is Billy. I like to make websites (front-end though) and web apps, and I also have a passion for creative, user-centred websites. And food.</p>

            <p class="text--big-devices">
                <strong style="color: red;">BIG TIP from David</strong>:
                <span style="color: gray;">This website uses sounds and gifs, so <strong>turn up the volume</strong> and <strong>keep moving your mouse</strong> to discover things.</span>
            </p>
        </div>
    </div>
</article>
