<section class="section" aria-label="Working experience">
    <div class="section__content">
        <div class="section__text">
            <h1>work work work work work work</h1>

            <ol class="project__list">
                <li class="project__item">
                    <h2 class="project__item__title">2018 <b>building awesome brands</b> @ <a href="https://www.gracious.nl" target="_blank" rel="noopener noreferrer">gracious</a></h2>

                    <p>
                        Build awesome brands by implementing (headless) solutions through REST API's and GraphQL for e-commerce, normal websites and landingpages.
                        <br/>
                        <strong>Keywords</strong>: React, JSX, styled components, CSS in JS, PropTypes, Redux, REST API's and GraphQL.
                    </p>
                </li>

                <li class="project__item">
                    <h2 class="project__item__title">2017 - 2018 <b>Coop Supermarkten</b></h2>

                    <p>
                        Worked on `Store Selector` (which is now LIVE on www.coop.nl on the cart page). Also on the `Kerstbestelservice`.
                        <br/>
                        <strong>Keywords</strong>: jQuery, AJAX calls, REST API's, Pattern Lab, Mustache, Angular 2+, ES6, TypeScript
                    </p>
                </li>

                <li class="project__item">
                    <h2 class="project__item__title">2016 - 2017 <b>Wolters Kluwer NL/UK</b></h2>

                    <p>
                        Worked primarily on bug fixing and implementing additional features.
                        <br/>
                        <strong>Keywords</strong>: Gulp, swig, JavaScript OOP, Promises, Scrum, Git, Gitflow Workflow, Bitbucket, JIRA, Confluence
                    </p>
                </li>

                <li class="project__item">
                    <h2 class="project__item__title">2012 - 2016 <b>Communication &amp; Multimedia Design</b></h2>

                    <p>
                        <b>&#64; The Hague University</b> <br/>
                        Studied Interaction/User Experience Design. Did some minors: Computer Science, Innovation &amp; Entrepreneurship, UX Design.
                        My thesis was about making the web fun for people with a visual impairment (in this case: blindness)!
                    </p>
                </li>

                <li class="project__item">
                    <h2 class="project__item__title">Personal projects</h2>

                    <p>
                        In my spare time, I like to experiment with (new) technology, tools and techniques. Click on the button (View my GitHub) below to go to my GitHub page.
                    </p>

                    <a href="https://github.com/bilal10hussain" target="_blank" rel="noopener noreferrer" class="btn--action">view my GitHub page (bilal10hussain) &rarr;</a>
                </li>
            </ol>
        </div>
    </div>
</section>
